body {
  background: #ececec;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

form {
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin: 30px auto;
  padding: 16px;
  text-align: left;
  width: 500px;
}

.form-group {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  width: 100%;
}

.form-group p {
  display: block;
  margin: 0 0 8px;
  width: 100%;
}

.form-group.check input, .form-group.radio input {
  margin: 0 8px 0 0;
}

.form-group.check label, .form-group.radio label {
  align-items: center;
  display: flex;
  margin-right: 10px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input, textarea, select, input:disabled {
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}

.form-group input.error {
  border-color: red;
}

.form-group #hint {
  display: none;
  color: red;
  margin-top: 5px;
}

.form-group #hint.active {
  display: block;
}

a {
  text-decoration: none;
}

.form-group button, a.add, a.logout {
  background-color: #4CAF50;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}

.form-group button:hover, a.add:hover, a.logout:hover {
  background-color: #45a049;
  transition: all 0.3s;
}

a.logout:hover {
  background-color: #bf281d;
}


a.logout {
  background-color: #f44336;
}

.actions {
  display: flex;
  justify-content: space-around;
  margin: 16px auto;
  width: 30%;
}

.actions a {
  width: 50%;
  margin-right: 8px;
}

.actions button:last-child {
  margin-right: 0;
}

table {
  border-collapse: collapse;
  margin: 32px auto;
  width: 100%;
}

table th, table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

table th {
  background-color: #f2f2f2;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #f2f2f2;
}

table tr button {
  background-color: #6284d5;
  border: none;
  color: white;
  cursor: pointer;
  padding: 8px;
}

table tr button.trash {
  background-color: gray;
  color: white;
}

.content {
  padding: 0 32px
}

a.back  {
  display: block;
  color: gray;
  margin-top: 16px;
}

